In [1]:
import pandas as pd

df = pd.read_csv("IntegratedData.csv")

In [2]:
df.shape

(289384, 17)

In [3]:
df.head()

,date,county,state,fips,cases,deaths,daily_cases,daily_deaths,day_of_week,is_weekend,is_holiday,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential
0,2021-01-01,autauga,alabama,1001.0,4239.0,50.0,0.0,0.0,4.0,0.0,1.0,-46.0,-28.0,NaN,NaN,-77.0,28.0
1,2021-01-02,autauga,alabama,1001.0,4268.0,50.0,29.0,0.0,5.0,1.0,0.0,-10.0,-5.0,NaN,NaN,-20.0,7.0
2,2021-01-03,autauga,alabama,1001.0,4305.0,50.0,37.0,0.0,6.0,1.0,0.0,-12.0,-3.0,-10.0,NaN,-14.0,6.0
3,2021-01-04,autauga,alabama,1001.0,4336.0,50.0,31.0,0.0,0.0,0.0,0.0,4.0,2.0,NaN,NaN,-26.0,8.0
4,2021-01-05,autauga,alabama,1001.0,4546.0,50.0,210.0,0.0,1.0,0.0,0.0,2.0,3.0,NaN,NaN,-22.0,8.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289384 entries, 0 to 289383
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               289384 non-null  object
 1   county             289384 non-null  object
 2   state              289383 non-null  object
 3   fips               289383 non-null  float64
 4   cases              289383 non-null  float64
 5   deaths             289383 non-null  float64
 6   daily_cases        289383 non-null  float64
 7   daily_deaths       289383 non-null  float64
 8   day_of_week        289383 non-null  float64
 9   is_weekend         289383 non-null  float64
 10  is_holiday         289383 non-null  float64
 11  retail_recreation  176688 non-null  float64
 12  grocery_pharmacy   156434 non-null  float64
 13  parks              78504 non-null   float64
 14  transit            107843 non-null  float64
 15  workplaces         287915 non-null  float64
 16  residential        170783 non-null  float64
dtypes: float64(14), object(3)
memory usage: 37.5+ MB